.new-tweet {
    border: 1px solid lightgray;
    background-color: lemonchiffon;
    width: 400px;
    height: 155px;
    margin: auto;
    border-radius: 5px;
    padding: 0 2em;
}

h2 {
    color: darkblue;
    border-bottom: 1px solid darkblue;
    text-align: left;
    margin: 10px;
}

textarea {
    margin: auto;
    width: 100%;
    text-align: left;
    padding: 0.2em;
}

textarea::placeholder {
    text-align: left;
}

input {
    float: left;
}

.new-tweet .counter {
    float: right;
    color: darkblue;
}

.new-tweet .counter.zero {
    float: right;
    color: #F66060;
}

label {
    color: #F66060;
    font-weight: 600;
}