article {
    position: relative;
    border: 1px solid lightgrey;
    border-radius: 5px;
    height: 150px;
    width: 400px;
    line-height: 1em;
    margin: 2em auto;
}

article:hover {
    opacity: 0.5;
}


article:hover i {
    visibility: visible;
}

header {
    height: 50px;
    line-height: 1.5em;
    text-align: left;
    font-weight: 700;
    font-size: 18pt;
    padding-left: 0.2em;
    border-bottom: 1px solid lightgrey;
    color: navy;
    background-color: lemonchiffon;
}

p {
    color: navy;
    padding-right: 0.5em;
    font-size: 9pt;
    font-weight: 100;
    line-height: 1.2em;
    float: right;
}

.avatar {
    border: 1px solid darkblue;
    border-radius: 5px;
    background-color: darkblue;
    margin: 0.2em 0.2em 0 0;
    padding: 0.1em;
    float: left;
    height: 40px;
    width: 40px;
}

div {
    max-height: 95px;
    max-width: 300px;
    text-align: left;
    padding-top: 0.5em;
    
    padding-left: 0.5em;
    background-color: white;
    word-wrap: break-word;
}

footer {
    bottom: 0;
    width: 100%;
    height: 25px;
    position: absolute;
    line-height: 2.1em;
    text-align: left;
    font-size: 8pt;
    padding-left: 0.5em;
    border-top: 1px solid lightgrey;
}

i {
    visibility: hidden;
    font-size: 1.3em;
    padding: 0.4em;
    float: right;
}